body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    overflow: hidden;
}

h2{
    color:black;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
}

.clock{
    display: flex;
   
  
}

.clock div{
    margin: 8px;
    position: relative;
}     
 .clock span{
    width: 100px;
    height: 60px;
    background-color:slategray;
    color: wheat;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
 }

 .clock .text {
    height: 30px;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: darkblue;
    opacity: 0.8;
 }

 .clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: darkgreen;
 }